* {
    margin: auto;
    padding: auto;
}
br {
    content: "";
    display: block;
    height: 0.15em;
}

nav {
    height: 50px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    float: left;
}

.nav-link{
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #e0afa0;

    text-decoration: none;
}
.nav-link:hover{
    background-color: #990000;
}

.headline {
    font-size: 45px;
    border: 2px solid white;
    border-radius: 1em;
    padding: 10px;
}

header {
    font: 1.4em Georgia,serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    color: #e0afa0;
    background-color: hsl(0, 100%, 39%);
    position: sticky;
    top: 0;
}

img.header-img {
    width: 270px;
}

section {

    font-style: normal;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #2D3047;
    #text-decoration: underline;
    margin-left: 20px;
    margin-bottom: 0.35em;
}



h2{
    font-size: 30px;
    text-align: left;
    color: #8a817c;
    border: 3px solid black;
    margin-left: 50px;
    margin-right: 52px;
    border-radius: 1em;
    padding: 10px;
}

article {
    margin-top: 1em;
}

body {
    background-color: #C5C8CF;
}
.content {
    text-align: center;
}

footer {
    color: #000000;
    text-align: center;
}
